@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
}
.fonts{
    font-family: "Roboto", sans-serif;
}
.top-header{
    font-family: "Poppins", sans-serif;
}
.search-btn{
    border: 3px solid white;
    background: linear-gradient(to left, transparent 50%, #2575ed 50%) right;
    
    background-size: 200%;
    transition: 0.8s ease-out;
}
.search-btn:hover{
    border: 3px solid #2575ed;
    /* background-color: #2575ed; */
    background-position: left;
}
li{
    cursor: pointer;
}
.bg-img{
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */ 
}
.course-card img{
    max-height: 170px;
    object-fit: cover;
}
.course-card:hover img{
    max-height: 130px;
}
.course-card img:hover{
    max-height: 130px;
}
.footer{
    background: linear-gradient(to bottom, #0e2b70 50%,#042d89 50%);
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }